body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #1b1d1e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #f5f4f3;
  font-weight: lighter;
}

.sidebar {
  height: 100%;
  width: 120px;
  background-color: #2f3133; opacity: 0.8;
  position: fixed;
  z-index: 1;
  overflow: auto;
  text-align: center;
}

.top-nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: #2f3133; opacity: 0.7;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: white;
  font-weight: lighter;
  text-decoration: none;
}

a:hover {
  /* background-color: #2f3133;  */
  /* opacity: 0.9; */
  color: #c3a984;
}

#icon {
  height: 25px;
  /* margin-bottom: 0px; */
}

p {
  margin-top: 0px;
}

.top-icon {
  margin-top: 45px;
}

.top-nav-link {
  margin: 0 15px;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  #root {
    margin-top: 50px;
    /* margin-left: 10px; */
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .hide-medium {
    display: none;
  }
  #root {
    margin-left: 120px;
    margin-top: 20px;
  }
}

@media (min-width:993px) {
  .hide-large {
    display: none;
  }
  #root {
    margin-left: 120px;
    margin-top: 20px;
  }
}